/*@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,700');
*/

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400|Roboto:400,500');

u{
 text-decoration: underline;
}

p{
 margin-top:3px; 
 margin-bottom: 3px;
}

a{
 text-decoration:none;
 color:rgb(210,35,42);	
}

a:hover{
 color:#000;	
}

/*HOME PAGE*/
.title{
 font-family: 'Roboto Slab', serif;
 color:#fff;
 font-size:30px;
}

.links{
 font-family: 'Roboto', sans-serif;
 font size:16px;
 color:#fff;
 margin-top:100px;
 letter-spacing: 5px;
}
.links a {
 font-family: 'Roboto', sans-serif;
 font size:16px;
 color:#fff;
 margin-top:100px;
 letter-spacing: 5px;	
 text-decoration: none;
 transition-duration: 0.6s;
 -moz-transition-duration: 0.6s;
 -webkit-transition-duration: 0.6s;
 -o-transition-duration: 0.6s;
}

.links a:hover {
 font-family: 'Roboto', sans-serif;
 font size:16px;
 color:#000;
 margin-top:100px;
 letter-spacing: 5px;
 transition-duration: 0.6s;
 -moz-transition-duration: 0.6s;
 -webkit-transition-duration: 0.6s;
 -o-transition-duration: 0.6s;
}

.header{
 width:1024px;
 padding-top:125px;
 background-image:url('Graphics/Header.png');
 background-position: 45% 50%;
 background-size: 105%;
 position:absolute;
 z-index:1;
 text-align: center;
 top:50px;
 color:#fff;
 font-size:12px;
}

.homeheader{
 position: absolute;
 height:80px;
 width:1024px;
 background-color: #fff;
 margin-top: -8px;
 display: inline-block;
}

.contain{
 width:1040px;
 margin:auto;
 margin-top: 00px;
}

/***Projects***/

.projectbox{
 width:458px;
 height:208px;
 display:table;
 float:left;
 border-style:solid;
 border-width:2px;
 padding:20px; 
 margin-right:18px;
 margin-bottom:18px;
 margin-top:0px;
 position:relative;
 transition-duration: 0.6s;
 -moz-transition-duration: 0.6s;
 -webkit-transition-duration: 0.6s;
 -o-transition-duration: 0.6s;
 z-index:999;
}

.projectboximg{
 width:458px;
 height:208px;
 position:absolute;
 z-index:-1;
 transition-duration: 0.2s;
 -moz-transition-duration: 0.2s;
 -webkit-transition-duration: 0.2s;
 -o-transition-duration: 0.2s;

}
 
.sub{
 text-align:center;
 letter-spacing:2px;
 width:500px;
 display:table-cell;
 vertical-align:middle;
 text-decoration:none;
}
 
.projtitle{
 font-family:'Roboto Slab', serif;
 font-size: 16px;
 font-weight:400;
 background-color:#fff;
 text-align: center;
 padding:15px;
 text-transform:uppercase;
 transition-duration:0.6s;
 -moz-transition-duration:0.6s;
 -webkit-transition-duration:0.6s;
 -o-transition-duration:0.6s;
 
}
 
.projtitle a{
 text-decoration:none;
 color:rgb(210,35,42);	
}

.projectbox:hover .projtitle a{
 color:#000;
}

.projectbox:hover .projtitle {
 font-size:18px;
}

.projectbox:hover .projectboximg{
 filter:blur(5px);
 transition-duration: 0.2s;
 -moz-transition-duration: 0.2s;
 -webkit-transition-duration: 0.2s;
}

/*ABOUT PAGE AND ART PAGE*/
.pageheader{
 position: fixed;
 height:80px;
 width:1024px;
 background-color: #fff;
 margin-top: -8px;
 display: inline-block;
 z-index: 99;
}

.pagetitle{
 font-family: 'Roboto Slab', serif;
 color:rgb(210,35,42);
 font-size:30px;
 margin-top:10px;
}

.pagelinks{
 font-family: 'Roboto', sans-serif;
 font-size:10px;
 color:rgb(210,35,42);
 margin-top:10px;
 letter-spacing: 5px;
 text-decoration: none;
 margin-bottom: 20px;
}

.pagelinks a {
 color:rgb(210,35,42);
 text-decoration: none;
 transition-duration: 0.6s;
 -moz-transition-duration: 0.6s;
 -webkit-transition-duration: 0.6s;
 -o-transition-duration: 0.6s;
}

.pagelinks a:hover {
 color:#000;
 transition-duration: 0.6s;
 -moz-transition-duration: 0.6s;
 -webkit-transition-duration: 0.6s;
 -o-transition-duration: 0.6s;
}

.container{
 width:1040px;
 margin:auto;
 margin-top: 0px;
}

/*About*/
.about{
 word-wrap: break-word;
 font-size:14px;
 font-family: 'Roboto', sans-serif;
 line-height: 1.3;
 width:624px;
 height:auto;
 background:#fff;
 color:#000;
 padding:20px;
 border-left-style: solid;
 border-left-width: 2px;
 border-left-color: rgb(210,35,42);
 margin-top:150px;
 margin-left:350px;
 position: absolute;
}

.me{
 width:400px;
 height:450px;
 background-clip:content-box;
 background-position: 100% 50%;
 background-image:url("../Graphics/Me.jpg");
 margin-bottom:10px;
 position: fixed;
}

.more{
 column-count:3;
 column-gap:20px;
 column-width: 328px;
 margin-top:475px;
 word-wrap:break-word;
 color:#000;
}

.more txt{	
 font-size:14px;
 font-family: 'Roboto', sans-serif;
 line-height: 1.2;
}

.more titl{
 font-size:18px;
 font-family: 'Roboto Slab', serif;
 color:rgb(210,35,42);
 line-height: 1.3;
}

.more smol{	
 font-size:12px;
 font-family: 'Roboto', sans-serif;
 line-height: 1.0;
}

.together{
 display:inline-block;
 width:100%;
}

/*Pages*/

.artinfo{
 width:150px;
 position:fixed;
 padding-left: 20px;
 line-height: 1.3;
 word-wrap: break-word;
 margin-top: 250px;
 display: inline-block;
 border-left-style: solid;
 border-left-width: 2px;
 border-left-color: rgb(210,35,42);
 color:#000;
 font-weight: normal;

}

.artinfo titl{
 font-size:16px;
 font-family: 'Roboto Slab', serif;
 color:rgb(210,35,42);
}

.artinfo blurb{
 font-size:12px;
 font-family: 'Roboto', sans-serif;
}

.artinfo when{
 font-size:14px;
 font-family: 'Roboto', sans-serif;
 font-weight: 500;
}

.artinfo med{
 font-size:14px;
 font-family: 'Roboto', sans-serif;
}

.pagecontainer{
 position:relative;
 width:600px;
 margin-top:80px;
 padding: 20px;
 margin-left:250px;
 display: inline-block;
 z-index: 9;
}

.text{	
 word-wrap: break-word;
 font-size:14px;
 font-family: 'Roboto', sans-serif;
 color:#000;
 display:inline-block;
 line-height: 1.35;

}

.text img{
 margin-top:20px;
 width:600px;
 height:auto;
 }

.text cap{
 font-size:10px;
 color:#606060;	
}
