// TODO
// make letters not bold, regular

@import 'master';
@import 'nav';
@import 'about';
@import 'projects';
@import 'project-pages';

.home-back {
    width: 100%;
}

.back {
    overflow: hidden;
}

.home, .home-back .initials {
    animation:fadeIn ease-in 1;
    animation-duration:1s;
}

.home {
    position: relative;
    padding: 100px 0px;
    @include transition(.4s);
    display: inherit;
}

.home > .center {
    justify-content: center;
}

.full-name {
    text-transform: uppercase;
    font-family: refrigerator-deluxe, sans-serif;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 8px;

    @media only screen and (min-width: $min-tablet) {
        display: none;
    }
}

.name-letters {
    display: none;
    border-bottom: solid 1px $text;
    margin-bottom: 30px;
    width: 620px;

    @media only screen and (min-width: $min-tablet) {
        display: block;
    }
}

.name-letter-style {
    @extend %ref-reg;
    @media only screen and (min-width: $min-tablet) {
        display: inline-block;
        transform: skew(-12deg);
        text-transform: uppercase;
        padding-right: 24px;
        @include transition(.2s);
    }
}

.stylelinks {
    font-size: 32px;
    z-index: 2;

    a {
        @extend %din-italic;
        color: $link;
        margin-right: 40px;
        @extend %line-hover;
    }

    &:first-child{
        padding-left:0px;
    }

    & > .column {
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 15px !important;
    }
}

.view-button {
    @extend %effect;
    @extend %din-reg;
    @include transition(.2s);
    background-color:$link;
    color:$white;
    position: fixed;
    bottom:20px;
    right:20px;
    font-size:24px;
    padding:15px 30px;
    border-radius:0px;
    opacity: 0;
    a {
       color: $white;
    }
}

.view-button:before{
    @extend %before-effect;
    background-color: #318178;
}

.view-button:hover {
    color: white;
}
  
.view-button:hover:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

// circles
%circle {
    @include border-radius(50%);
    @include transition(1s);
    background-color: $circle;
    width: 45vw;
    height: 45vw;
    opacity: .5;
    z-index: -2;
    position: absolute;
}

.follow-circle,
.new-circles {
    @extend %circle;
    width: 100px;
    height: 100px;
    bottom: 10px;
    right: 10px;
}

.instructions {
    opacity:0;
    margin-top: 55vh;
    display: none;
    z-index: 999;
    pointer-events:none;
    @include user-select(none);
    margin: auto;
    position: absolute;
    top: 35%;
    left: 0;
    bottom: 0;
    right: 0;
}

.back {
 z-index: 1;
}

.game-click {
    cursor: pointer;
}

.blue-back {
    background-color: $background;
}

$dot-size: 2px;
$dot-space: 22px;

.polka-back {
    background:
    linear-gradient(90deg, $white ($dot-space - $dot-size), transparent 1%) center,
    linear-gradient($white ($dot-space - $dot-size), transparent 1%) center,
    $background80;
    background-size: $dot-space $dot-space;
}

.polka-back-inverse {
    background:
    linear-gradient(90deg, $background ($dot-space - $dot-size), transparent 1%) center,
    linear-gradient($background ($dot-space - $dot-size), transparent 1%) center,
    $white;
    background-size: $dot-space $dot-space;
}

.no-padding {
    padding: 0;
}

.connect {
    position: relative;
    background-color: $link;
    color: $white;
    text-align: left;
    padding: 10px 8%;
    font-size: 14px;
    margin-top:40px;

    & a, & i {
        color: $white;

        & span {
            text-decoration: underline;

            &:hover, &:focus {
                font-style: italic; 
            }
        }
    }
}

.home_about {
    padding-left:15px !important;
}

.stylelinks li {
    display: inline;
    text-decoration: none;
    margin-top: 0;
    margin-bottom: 0;
}

.stylelinks li a {
    padding:0;
}

@media only screen and (max-width: 40em) {
    .home {
        padding: 80px 0px;
    }

    .stylelinks {
        padding-top: 20px;
    }

    .stylelinks > a {
        margin-bottom: 30px;
    }

    footer {   
        & span {
            padding-bottom:10px;
        }
    
        & a, & i {
            padding-bottom:10px;
        }
    }
}

@media only screen and (max-width: 48em) {
    .game-click {
        display: none;
    }

    .home-back {
        overflow: visible;
    }
}